<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans

        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="address" class="org.th.b84.Address"/>
    <bean id="account" class="org.th.b84.Accounts"/>
    <bean id="customer" class="org.th.b84.Customer">
     <property name="address" ref="address"/>
        <property name="account" ref="account"/>
    <constructor-arg ref="address"/>

    </bean>





</beans>

